:root
  {
    background-color:rgb(23, 37, 45);
    color: rgb(187, 221, 244);
  }

  button
    {
        background-color: black;
        color: rgb(156, 215, 255);
        border-width: 3px;
        border-radius: 15%;
        border-color: rgb(156, 215, 255);
    }

    button:hover
    {
        background-color: rgb(156, 215, 255);
        color: black;
        border-color: solid black;
    }

    button:active
    {
      background-color: white;
      color: black;
      border-color: solid black;
  }