:root
  {
    background-color:rgb(17, 27, 34);
    color: rgb(219, 240, 254);
    font-family: 'Roboto Mono', monospace;
  }

  button
    {
        background-color: black;
        color: rgb(156, 215, 255);
        border-width: 3px;
        border-radius: 10%;
        border-color: rgb(156, 215, 255);
    }

    button:hover
    {
        background-color: rgb(156, 215, 255);
        color: black;
        border-color: solid black;
    }

    button:active
    {
      background-color: white;
      color: black;
      border-color: solid black;
  }